<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle - {{cliente.nome}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/modal.css')}}">
</head>
<body>
    <div class="container">
        <h1 class="mb-4">
            Gerenciamento de Cliente
        </h1>

        <div class="box-btn-home">
            <a href="/" class="btn btn-primary btn-home">&#x2190</a>
            <p>Voltar ao início</p>
        </div>

        <h2 class="mb-3">
            {{cliente.nome}}
        </h2>

        <!-- Botão que abre o modal -->
        <button class="btn btn-primary btn-remover" id="openModal">Remover Cliente</button>

        <table class="table table-bordered table-checkin">
            <thead>
                <tr>
                <th>Data de check-in</th>
                </tr>
            </thead>
            <tbody>
                {% for checkin in checkins %}
                <tr>
                <td>{{ checkin.data }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>















        <!-- Modal Adicionar-->
        <div id="myModal" class="modal">
            <div class="modal-content">
            <span style="cursor: pointer;" class="close" id="closeModal">&times;</span>
            <div class="modal-header">Remover {{cliente.nome}}?</div>

            <div class="form-adicionar">
                <button href="#" class="btn btn-primary" id="cancelModal">Cancelar</button>
                <a href="/excluir_massagem/{{ cliente.id }}" class="btn btn-danger">Confirmar</a>
            </div>
        </div>

    </div>

    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
</body>
</html>